.loader {
	border: 16px solid #b48291;
	border-top: 16px solid #a5243d;
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
	margin: 0 auto;
	margin-top: 50px;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

#loadtxt {
	text-align: center;
	font-size: 2vh;
	color: #a5243d;
	display: block;
	width: 100%;
}